<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8US1vLgCMqxNHYdonqsY1g-B1NbtYNpk</string>
	<key>GCM_SENDER_ID</key>
	<string>927927619730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gameTemplate.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pipo-7550c</string>
	<key>STORAGE_BUCKET</key>
	<string>pipo-7550c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927927619730:ios:4d9d8bc59662bc5f29964b</string>
</dict>
</plist>